#root{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

main.auth {
    background: linear-gradient(to left, #44a08d, #093637);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        max-width: 450px;
        margin: 0 auto;
    }
}